.main-container h1 {
    font-size: 60px;
    text-align: center;
}

.main-container h2{
    font-size: 30px;
}

.table {
    display: flex;
    justify-content: space-between;
}

.table ul {
    margin-bottom: 20px;
}

.input-container label{
    margin-top: 10px;
    font-size: 20px;
}

.input-container input{
    width: 100%;
    height: 24px;
}

.btn-container button{
    margin-top: 10px;
    font-size: 20px;
}

.resultado{
    margin: 10px;
    text-align: center;
    padding: 5px 10px;
}
