footer{
    background-color: #29345C;
    width: 100%;
    text-align: justify;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 10px;
}

.footer-conteiner{
    margin-right: 4vw;
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    transition: 0.4s margin-left linear;
}

.social-container{
    height: 30px;
}

footer img{
    cursor: pointer;
}

footer img:hover{
    filter: brightness(1.5);
}