footer{
    background-color: #29345C;
    width: 100%;
    text-align: justify;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.footer-conteiner{
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.social-container{
    height: 30px;
}

footer img{
    cursor: pointer;
}

footer img:hover{
    filter: brightness(1.5);
}