main,
.menu-container{
    display: flex;
    flex-direction: column;
    transition: 0.4s margin-left linear;
}

.menu-container{
    position: fixed;
    background-color: #292929;
    height: 100vh;
    width: 420px;
    border-right: 4px solid #E5E6EB;
    z-index: 1;
}

.btn-menu{
    margin-right: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-menu i {
    cursor: pointer;
    font-size: 52px;
} 

.nav-menu{
    display: flex;
    justify-content: center;
}

.closed-menu{
    margin-left: -350px;
}